.centered{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.textCenter{
	text-align: center;
}

button{
	margin-left: 1em;
	margin-right: 1em;
}

.margin-top{
	margin-top: 2em;
}

.margin-left{
	margin-left: 0;
}